textarea{
    resize: none;
    /* border-radius: 10px; */
}

#user-info *{
    margin: 0;
    padding: 0;
}
#user-info td{
    padding: 5px 10px;
}

#messages a{
    text-decoration: none;
}

.card-body p{
    margin: 0;
    padding: 0;
}