<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
    
    {% include 'dash_navbar.html' %}

    <main>
        {% include 'util/alerts.html' %}

        {% if can_edit %}
            <a href="/users/{{user.id}}/edit"><button class="btn btn-warning mt-2 ms-5">Edit This Profile</button></a>
        {% endif %}
        <div class="ms-5 my-3">
            <table id="user-info">
                <thead>
                    <h4>{{user.get_full_name}}</h4>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="{% static 'img/clipboard.svg' %}"></td>
                        <td><p>Registered on: {{user.date_year_created}}</p></td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'img/person-badge.svg' %}"></td>
                        <td><p>User ID: {{user.id}}</p></td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'img/envelope.svg' %}"></td>
                        <td><p>Email: {{user.email}}</p></td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'img/pencil.svg' %}"></td>
                        {% if user.description == "" %}
                            <td><p><i>User hasn't added a description yet!</i></p></td>
                        {% else %}
                            <td><p>Description: <i>{{user.description}}</i></p></td>
                        {% endif %}
                    </tr>
                </tbody>
                
            </table>
        </div>

        <div id="messages" class="container col-7">
            <form id="submit-message" action="{{user.id}}/post_message" method="POST" class="mb-3">
                {% csrf_token %}
                <h5>Leave a message for {{user.first_name}}</h5>
                <textarea name="text" class="form-control d-block mb-2" cols="30" rows="2" minlength="1"></textarea>
                <button class="btn btn-success">Post</button>
            </form>
            {% for message in posted_messages %}
                {% include 'util/message.html' %}
            {% endfor %}
        </div>
        
    </main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'script.js' %}"></script>
</body>
</html>